<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://localhost:3000/logoA.png">
    <link rel="stylesheet" href="http://localhost:3000/estilo.css">
    <link rel="stylesheet" href="styles/estilo.css">
    <script src="https://kit.fontawesome.com/8d559d2416.js" crossorigin="anonymous"></script>
    <title>Catalogo</title>
</head>
<body>
    <header>
        <marquee direction="left">
        <h3>O melhor mercado da região | As melhores ofertas você só encontra aqui no Supermercado A | Promocões da semana: Cenoura kg Por R$ 2,99 | Abacate kg Por 4,59 | Picanha Friboi tradicional peça a vácuo kg Por R$ 57,99 |     Camarão Oceani descascado cozido congelado 400 g Por R$ 39,99</h3>
        </marquee>
    </header>

    <nav>
        <section id="icones">
            <a href="#"><i class="fa-solid fa-heart"></i> Meus favoritos </a>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i> Carrinho </a>
        </section>
        <section id="pesquisa">
            <h1>Supermarcado A</h1>
            <img id="logonav" src="http://localhost:3000/logoA.png">
            <input type="text" name="pesquisa" placeholder="Digite aqui o que procura..." required> 
            <button><a href="#"><img id="pes" src="http://localhost:3000/pesquisa.png"></a></button>
        </section>
        <section id="contatos">
            <a href="#contato"><span>Entre em contato</span></a> 
            <a href="#icones2"><span>Compre pelo telefone 4002-8922</span></a>
        </section>
        <section id="links">
            <hr>
            <a href="#">Todas as Categorias<i class="fa-solid fa-bars"></i></a>
            <hr>
            <a href="#titulo1"><span>Carnes e Frangos</span></a>
            <hr>
            <a href="#titulo2"><span>Margarinas</span></a>
            <hr>
            <a href="#titulo3"><span>Grãos</span></a>
            <hr>
            <a href="#titulo4"><span>Temperos</span></a>
            <hr>
            <a href="#titulo5"><span>Doces</span></a> 
            <hr>
            <a href="#titulo6" ><span>Bebidas</span></a>
            <hr>
            <a href="#titulo7"><span>Higiene e Limpeza</span></a>
            <hr>
            <a href="#titulo8"><span>Verduras e Legumes</span></a>
            <hr>
            <a href="#titulo9"><span>Frutas</span></a>
            <hr>
            <a href="#titulo10"><span>Peixes e Derivados</span></a>
            <hr>
        </section>
        <marquee direction="left">
            <h3><a href="#"><span>Procurando os produtos? Cliquei aqui...</span></a></h3>
            </marquee>
        
    </nav>

    
</body>
</html>