<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://localhost:3000/logoA.png">
    <link rel="stylesheet" href="http://localhost:3000/estilo.css">
    <link rel="stylesheet" href="styles/estilo.css">
    <script src="https://kit.fontawesome.com/8d559d2416.js" crossorigin="anonymous"></script>
    <title>Contato</title>
</head>
<body>
    <main>
    <section id="contato">
    <form>
        <h1>Entre em contato</h1>
        <input class="entrada" type="text" name="nome" placeholder="Nome">
        <input class="entrada" type="text" name="email" placeholder="E-mail">
        <textarea class="entrada campotexto" name="assunto" placeholder="Assunto"></textarea>
        <textarea class="entrada campotexto" name="mensagem" placeholder="Mensagem"></textarea>					
        <button class="btn">Enviar contato</span></button>
    </form>
</section>
</main>
<footer>
<section id="flexi">
    <section id="formasdepag">
        <strong>Formas de pagamento:</strong>
    </section>
    <section id="iconespag">
        <i class="fa-brands fa-cc-apple-pay"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-amazon-pay"></i>
        <i class="fa-brands fa-cc-paypal"></i>
        <i class="fa-brands fa-cc-amex"></i>
    </section>          
    <section id="icones2">
        <i class="fa-solid fa-phone-flip"></i>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook-square"></i>
        <i class="fa-brands fa-twitter"></i>
    </section>
</section>
<section id="nomes">
    <p><strong>Supermercado A </strong>| Erick Carvalho Cunha - RGM: 29413974 | 
    Aluno do 3ºB de Análise e Desenvolvimento de Sistemas da Universidade Cruzeiro do Sul.</p>   
</section>
</footer>
    
</body>
</html>